.character-info {
  width: 100%;
  background-color: #1115;
  padding: 12px;
}

.character-info__card {
  display: flex;
  gap: 8px;
}

.character-info__data-wrap {
  width: calc(100%-308px);
}

.character-info__name {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 12px;
}

.character-info__image {
  width: 300px;
  height: 300px;
  flex-basis: 300px;
  overflow: hidden;
  object-fit: cover;
}

.character-info__paragraph {
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.character-info__card-data {
  font-weight: 400;
}
