.character-info {
  width: 100%;
  background-color: #1115;
  padding: 12px;
}

.character-info__card {
  display: flex;
  gap: 8px;
}

.character-info__data-wrap {
  width: calc(100%-308px);
}

.character-info__name {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 12px;
}
.character-info__image-wrap {
  width: 300px;
  height: auto;
  flex-basis: 300px;
  overflow: hidden;
  position: relative;
  padding-bottom: 300px;
}

.character-info__image-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-info__image {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.character-info__paragraph {
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.character-info__card-data {
  font-weight: 400;
}

@media (max-width: 767px) {
  .character-info__card {
    flex-direction: column;
    gap: 8px;
  }
  .character-info__image-wrap {
    width: 100%;
    padding-bottom: 100%;
    flex-basis: 100%;
  }
  .character-info__image {
    width: 100%;
    height: 100%;
  }

  .character-info__paragraph {
    font-size: 16px;
  }
}
