.navigation {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 4px auto;
  justify-content: center;

}

.navigation__link {
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  padding: 8px 24px;
  text-decoration: none;
  transition: all 300ms ease;
  background-color: #1113;
}

.navigation__link:last-of-type {
  border-bottom: none;
}

.navigation__link.active {
  color: #fff;
  background-color: #111;
}

.navigation__link:hover {
  background-color: #1119;
}
