.header {
  width: 100%;
  background-color: #1115;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__title {
  width: 60%;
  font-family: get-schwifty;
  font-size: 48px;
  width: 80%;
  line-height: 2;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 4px #cc0;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0;
  height: calc(100vh - 200px);
}

.main__center-section {
  width: 100%;
  padding: 4px;
  height: calc(100vh - 200px);
}

@media (max-width: 767px) {
  .header {
    gap: 4px;
  }

  .header__title {
    width: 96%;
    font-size: 24px;
  }

  .main {
    flex-direction: column;
    position: relative;
    height: calc(100vh - 260px);
  }

  .main__center-section {
    height: calc(100vh - 260px);
  }
}
